.face{
    border-radius:100%;
    background-color: pink;
    width:250px;
    height:250px;
    border: 3px solid black;
    display:flex;
    justify-content: center;
}
.left-eye{
    position: absolute;
    width:60px;
    height:60px;
    background-color: white;
    border:2px solid black;
    border-radius: 100%;
    top:150px;
    left:60px;
}
.right-eye{
    position: absolute;
    width:60px;
    height:60px;
    background-color: white;
    border:2px solid black;
    border-radius: 100%;
    top:150px;
    left:160px;
}
.cir1{
    position:absolute;
    background-color: black;
    width:35px;
    height:35px;
    top:14px;
    left:10px;
    border-radius: 100%;
}
.cir2{
    position:absolute;
    background-color: black;
    width:35px;
    height:35px;
    top:15px;
    left:14px;
    border-radius: 100%;
}
.mouth{
    position:absolute;
    background-color:palevioletred;
    width:100px;
    height:55px;
    border-radius:20% 20% 25% 25%;
    top:230px;
    left:90px;
    border:2px solid black;
}
.rn1{
    position:absolute;
    background-color: black;
    width:25px;
    height:32px;
    top:13px;
    left:20px;
    border-radius:90% ;
} 
.rn2{
    position:absolute;
    background-color: black;
    width:25px;
    height:32px;
    top:13px;
    left:60px;
    border-radius:90% ;
}
.ear1{
    position:absolute;
    background-color: pink;
    border:100%;
    width: 70px;
    height:60px;
    top:80px;
    rotate:-50deg;
    left:-30px;
    border-radius:100px 100px  50px 50px;
    border: 3px solid black;
}
.ear2{
    position:absolute;
    background-color: pink;
    border:100%;
    width: 70px;
    height: 60px;
    rotate:50deg;
    top:90px;
    left:230px;
    border-radius:100px 100px 50px 50px;
    border: 3px solid black;
}
.center{
    display:flex;
    left:500px;
}
